body {
    background-color: #f0f8ff;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: black;
}



header{
    background-color: #00689c;
    text-align: center;
    color: white;
    padding: 35px;
    border-bottom: 5px solid orange ;
}


h1 {
    font-size: 45px;
}



header p {
    font-size: 18px;
    margin-top: 10px;
}



nav {
    text-align: center;
    margin: 20px;
    padding: 15px;
    background-color:  #dbf0ff;
    border-radius: 10px;
}


nav a {
    color: rgb(0, 0, 146);
    text-decoration: none;
    margin: 0px 20px 0px 20px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
}


a:hover {
    background-color: #92ddff;
    color: white;
}


h2 {
    color: #01579b;
    border-bottom: 3px solid orange;
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
}


.content {
    display: flex;
    margin: 20px 0px;
}


img {
    border-radius:15px ;
    margin-right: 30px;
    border: 5px solid #4fc3f7;
}


.text {
    flex: 1;
}


table {
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
}


td {
    border: 1px solid #4fc3f7;
    background-color: #e3f2fd;
    padding: 12px;
    text-align: center;
}


footer {
    background-color: #01579b;
    color: white;
    text-align: center;
    padding: 25px;
    border-top: 5px solid orange;
    margin-top: 50px;
}


div {
    background-color: white;
    margin: 20px;
    padding: 25px;
    border-radius: 20px;
    border: 3px solid #e3f2fd;
}



a {
    color: rgb(0, 0, 146);
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
}
